@media screen and (max-width:732px) and (min-width:576px){
    .card{
        min-width: 200px !important;
        max-width:1100px !important;
        margin-right:2%;
        font-size: 12px;
        width:200px;
    }
    .cardbox{
        margin-right:4%;
    }

}



/*@media(min-width:733){
    .cardbox{
        margin-right: 4% !important;
    }
}*/
/*

